:root {
    --fondo-01 : #282828;
    --fondo-02: #ffffff; 
    --color-a: #7bff8640;
    --color-b: #94c9b7;
    --color-c: #FF5050;
    --color-d: #3cb664;
    --color-e: #d4d4d483;
    --blanco: #ffffff;
    --transparencia: rgba(115, 115, 115, 0.453);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--fondo-02);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow-y: overlay;
}

.header {
    background-color: var(--color-d);
}

.img-logo {
    margin: 20px;
    filter: drop-shadow(2px 2px 5px var(--transparencia));
    height: 70px;
}

.img-logo:hover {
    filter: drop-shadow(2px 2px 5px var(--color-b));
}

.bar-obscure {
    background-color: var(--fondo-01) !important;
    color: var(--blanco);
}

footer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer i {
    font-size: 2rem;
}

footer span {
    color: var(--color-c);
}